@model ProductRequestViewModel
@{
    Layout = "_MainLayout";
}

<div class="parts">
    <div class="container">
        <h2>Оборудование</h2>
        <div class="bike-parts-sec">
            <div class="bike-parts acces">
                <div class="top">
                    <ul>
                        <li><a asp-controller="Main" asp-action="index">Главная страница</a></li>
                        <li><a asp-controller="Main" asp-action="index"> / </a></li>
                        <li><a asp-controller="Category" asp-action="index">Категории</a></li>
                        <li><a asp-controller="Category" asp-action="index"> / </a></li>
                        <li><a href="~/Category/Product/@Model.Product.Name">@Model.Product.Name</a></li>
                    </ul>
                </div>
                <div>
                    <div>
                        <img src="@Model.Product.Img" alt="@Model.Product.Name" c style="width: 300px; height= 280px; padding: 10; float:left;" asp-append-version="true" />
                        <div style="padding:10px;"><h2>@Model.Product.Name</h2></div>
                        <div style="padding:8px;"> <h6>ЦЕНА:<small>  уточняется при отправке заказа.</small></h6></div>
                        <div style="padding:8px;"> <h6>НАЛИЧИЕ НА СКЛАДЕ:<small>  есть в наличии. </small></h6></div>
                        <div style="padding:8px;"> <h6>МИНИМАЛЬНЫЙ ЗАКАЗ:<small>  1 шт.</small></h6></div>
                        <div style="padding:8px;"> <h6>ДОСТАВКА:<small>  самовывоз, доставка транспортными компаниями.</small></h6></div>
                        <div style="padding:8px;">
                            <form id="@Model.Product.Id" asp-action="AddToCart" asp-controller="CartAll" method="post">
                                <input type="hidden" asp-for="Product.Id" />
                                <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                                <button type="submit" class="btn btn-outline-secondary btn-lg">в корзину</button>
                            </form>
                        </div>
                    </div><br>
                    <div style="padding:15px 35px; float:left;"><h4><b>Товар:</b> @Model.Product.Name </h4></div>
                    <div style="padding:10px; float:left;"><h6> <b>Описание @Model.Product.Name:</b>@Model.Product.SmallDescription</h6></div>
                    <div style="padding:10px; float:left;"><h6><b>Преимущества @Model.Product.Name:</b>@Model.Product.BigDescription</h6></div>
                    <div style="padding:10px; float:left;"><h6><b>Комплектация @Model.Product.Name:</b> @Model.Product.Kit</h6></div>
                    <div style="padding:10px 10px; float:left;">
                        <h5><b>Техническое описание: @Model.Product.Name</b></h5><br>
                        <h6>Макcимальная производительность: @Model.Product.MaxVolume</h6><br>
                        <h6>Макимальное давление: @Model.Product.MaxPressure</h6><br>
                        <h6>Вес: @Model.Product.MaxWeight</h6>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="rsidebar span_1_of_left">
            <section class="sky-form">
                <div class="product_right">
                    <h3 class="m_2">КАТЕГОРИИ</h3>
                    <vc:navigation-menu />
                </div>
            </section>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
 <div class="contact">
            <div class="container">
                <h3>Задать вопрос по @Model.Product.Name</h3>
                <p>ПОЖАЛУЙСТА, ЗАПОЛНИТЕ ФОРМУ НИЖЕ:</p>
                <div asp-validation-summary="All" class="text-danger"></div>
                <form asp-controller="Category" asp-action="SaveProductRequst" method="post">
                    <input type="hidden" asp-for="Request.ProductName" value="@Model.Product.Name" />
                    <input class="user" type="text" placeholder="НАЗВАНИЕ КОМПАНИИ" asp-for="Request.Company"><br>
                    <input class="user" type="text" placeholder="Имя" asp-for="Request.Name"><br>
                    <input class="user" type="text" placeholder="USER@DOMAIN.RU" asp-for="Request.Email"><br>
                    <input class="user" type="text" placeholder="Телефон" asp-for="Request.Number"><br>
                    <textarea placeholder="Вопрос" asp-for="Request.Desc"></textarea>
                    <input type="submit" value="ОТПРАВИТЬ">
                </form>
            </div>
        </div>

